@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');
html {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #232323;
  color: white;
}
li{
  display: inline;
  text-decoration: none;
  padding-left: 5px;
  color: white;
}

a {
  color: white;
  text-decoration: none;
  font-size: large;
}

#nav {
  background-color: rgba(61,61,61);
  position: fixed;
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
  top: 0px;
  color: white;
  left: 0px;
  width: 100%;
}

#navbarimg{
  margin-left: 10px;
}

#webheadercontent{
  background-image: url('./minecraftpicture.png');
  color: white;
  text-align: center;
  width: 100%;
  height: 500px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}

#webheadercontent > h1{
  font-weight: 300;
  font-size: 230%;
}

#ipBtn {
  background-color: #3d3d3d;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 3px;
  font-family: 'Raleway', sans-serif;
  height: 30px;
  width: 70px;
  margin-left: 10px;
}

#ipBtn:hover {
  background-color: #3d3d3d;
}

#ipInp {
  border: none;
  border-radius: 3px;
  background-color: #3d3d3d;
  margin-left: 10px;
  color: white;
  font-family: 'Raleway', sans-serif;
  height: 30px;
  text-align: center;
  font-size: 18px;
}
