html {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}
li{
  display: inline;
  text-decoration: none;
  padding-left: 5px;
  color: white;
}

a {
  color: white;
  text-decoration: none;
  font-size: large;
}

#nav {
  background-color: rgba(61,61,61);
  position: fixed;
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
  top: 0px;
  color: white;
  left: 0px;
  width: 100%;
}

#navbarimg{
  margin-left: 10px;
}
